.article-search {
  margin-bottom: 16px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__search {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 16px;
    justify-content: flex-start;
    align-items: center;

    &-wrap {
      display: flex;
    }
  }

  &__search-item {
    margin-right: 0;

    &--keyword {
      order: -1;
    }
  }

  &-label {
    margin-right: 12px;
  }
}
